@font-face {
    font-family: 'Roboto';
    src: url(/home/yogi/weather-app/src/assets/Roboto/static/Roboto-Regular.ttf);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    padding: 0;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

/* Loader styles */
.loader {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    backdrop-filter: blur(5px);
}

#content {
    display: none;
    font-family: 'Roboto', sans-serif;
        /* background: linear-gradient(to bottom, #8eccdb, #5eb3d8); */
    text-shadow:  
        1px 1px 0.25px gray,  /* Bottom-right */
        -1px -1px 0.25px gray, /* Top-left */
        -1px 1px 0.25px gray,  /* Bottom-left */
        1px -1px 0.25px gray;  /* Top-right */
}

div.hi, div.lo {
    text-shadow: none;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding: 0.5rem 1.5rem 0rem 1rem;
}

.suggestions-container {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.185);
    border-bottom-left-radius: 20px; /* Apply border-radius to the bottom-left corner */
    border-bottom-right-radius: 20px; /* Apply border-radius to the bottom-right corner */
    padding: 10px;
    display: none;
    z-index: 1000;
    backdrop-filter: blur(3px);
}

ul {
    list-style: none;
    color: white;
    padding: 0px;
    z-index: 10000;
}

li {
    cursor: pointer;
}

.search-container {
    display: flex;
    border: 1.75px solid #ccc;
    border-radius: 1rem;
    width: 100%;
    padding-left: 10px;
}

button, .favorites, .settings {
    cursor: pointer;
}

input, .search-icon {
    border: none;
    background: none;
}

input:focus {
    outline: none;
}

input#city {
    flex: 1;
    color: white;
}

.header-icons {
    display: flex;
    gap: 10px;
}

.basic-weather-details {
    border-radius: 20px;
    padding: 10px;
    min-height: 95vh;
    /* background-image: url('/home/yogi/weather-app/src/assets/weather-images/clearing_in _the_afternoon.png'); */
    background-size: cover;
    background-position: center;
    margin: 0px 10px;
    box-sizing: border-box;
}

.basic-info {
    padding-left: 20px;
    width: 90%;
    box-sizing: border-box;
    position: fixed;
    top: 10%;
    left: 5%;
    font-size: 1.2rem;
    color: white;
    z-index: 100;
    text-shadow:  
        1px 1px 0.25px gray,  /* Bottom-right */
        -1px -1px 0.25px gray, /* Top-left */
        -1px 1px 0.25px gray,  /* Bottom-left */
        1px -1px 0.25px gray;  /* Top-right */
}

.location {
    font-size: 2rem;
    font-weight: bold;
}

.temp {
    font-size: 3rem;
    font-weight: bold;
}

.all-temp {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

.min-max {
    display: flex;
    gap: 10px;
    flex-direction: column;
    border-left: 3px ridge white;
    padding-left: 5px;
    justify-content: space-between;
    line-height: 1;
    height: max-content;
    align-self: center;
}

.weather-description {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: capitalize;
}

.other-details {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    font-size: 1rem;
    padding-top: 10px;
    margin-top: 10px;
    column-gap: 20px;
    max-width: 92.5%;
    box-sizing: border-box;
    width: fit-content;
    border-top: 3px ridge white;
}

.by-hours, .by-days {
    border-radius: 20px;
    margin: 10px;
    display: flex;
    gap: 10px;
    overflow: auto;
}

div.hour-weather {
    border-radius: 20px;
    padding: 20px 5px;
    display: flex;
    flex-direction: column;
    /* background-color: rgba(135, 206, 235, 0.25); */
    color: white;
    align-items: center;
    min-width: max-content;
    margin-bottom: 1rem;
}

.hour-weather-desc, .hour-weather, .hour-time, .hour-temp, .hour-precip-prob, .hour-wind-speed, .day-weather-desc, .day-weather, .day-time, .day-temp, .day-precip-prob, .day-wind-speed, .day-avg-temp {
    text-align: center
}

.main {
    padding: 10px;
    color: white;
}

.next-hours, .next-days {
    color: white;
    font-size: 1.75rem;
    font-weight: bold;
    margin: 10px;
}

.day-weather {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    padding: 10px;
    align-items: center;
    /* background-color: rgba(135, 206, 235, 0.35); */
    margin-bottom: 1rem;
    border-radius: 20px;
}

.day-temp {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
}

.day-avg-temp {
    grid-column: span 2;
    display: flex;
    justify-self: center;
    width: fit-content;
}

.day-precip-prob, .day-wind-speed {
    display: flex;
    gap: 1rem;
}

.day-time {
    font-size: 1.25rem;
    font-weight: bold;
}

.date-and-time {
    display: flex;
}

.humidity, .wind, .precipitation-chances, .uv-index, .sunrise, .sunset {
    display: flex;
    gap:0.5rem;
}

.day-low-temp, .day-high-temp {
    display: flex;
}

.hour-temp, .hour-precip-prob, .hour-wind-speed {
    display: flex;
    align-self: stretch;
    gap: 1rem;
}

.sunrise > span > img, .sunset > span > img {
    width: 1.5rem;
    fill: #e5f5ff;
}

.hi, .lo {
    color: #0881cc;
    font-weight: bold;
}

.lo {
    border-left: 2px solid white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.hi {
    padding-left: 1rem;
    padding-right: 1rem;
}

.day-high-temp {
    padding-right: 1rem;
}

.wind-and-rain {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Each child gets equal width */
}

.day-precip-prob, .day-wind-speed {
    white-space: nowrap;
    padding-left: 1rem;
}

.day-precip-prob {
    display: flex;
    justify-self: right;
    padding-right: 2rem;
}

.day-wind-speed > span > img {
    min-width: 1rem;
}

img {
    filter: drop-shadow(1px 1px 2px rgba(0, 0, 0, 0.4));
}

.weather-desc {
    font-size: 1rem;
    padding-right: 1rem;
}

.alert > span > img {
    width: 1.25rem;
    margin-right: 1rem;
}

.alert {
    align-items: center;
}

.error-message {
    position: fixed;
    top: 35%;
    left: 4rem;
    font-family: 'Roboto', sans-serif;;
    max-width: 75%;
}

body > div.error-message > h3 {
    font-size: 2.5rem;
}

::-webkit-scrollbar:vertical {
    width: 0px;
}

