@font-face {
    font-family: 'Roboto';
    src: url(/home/yogi/weather-app/src/assets/Roboto/static/Roboto-Regular.ttf);
}

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    padding: 0;
}

/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}

/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
*/
#root, #__next {
    isolation: isolate;
}

#content {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to bottom, #a7e1f7, #3db1f9);
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    padding: 10px;
}

.search-container {
    display: flex;
    border: 1.75px solid #ccc;
    border-radius: 10px;
    width: 100%;
    justify-content: space-between;
    padding-left: 10px;
}

button, .favorites, .settings {
    cursor: pointer;
}

input, .search-icon {
    border: none;
    background: none;
}

input:focus {
    outline: none;
}

input#city {
    width: max-content;
}

.header-icons {
    display: flex;
    gap: 10px;
}

.basic-weather-details {
    border-radius: 20px;
    padding: 10px;
    min-height: 100vh;
    background-image: url('/home/yogi/weather-app/src/assets/weather-images/image_fx_.jpg');
    background-size: cover;
    background-position: center;
    margin: 0px 10px;
}
